@import "./bender-bold.scss";

* {
	box-sizing: border-box;
	font-family: "Bender-Bold";
}

body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background: radial-gradient(circle, dimgray 0%, #000a0a 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// font-family: 'Bender-Bold';
}

input,
button {
	text-decoration: none;
	background: none;
	border: none;
}

$kick-color: hsl(270, 50%, 40%) !default;
$snare-color: hsl(240, 50%, 40%) !default;
$hihat-color: hsl(210, 50%, 40%) !default;

.active {
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		// border: 2px solid black;
		padding: 10px;
		border-radius: 10px;
		overflow: hidden;
		background-color: #0005 !important;
	}
}

article#drumSet {
	display: flex;
	flex-direction: column;

	& > div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// height: 25vh;

		& > span {
			font-size: 5vh;
			width: 18vw;
		}

		& > section {
			display: flex;
			flex-direction: row;

			& > div {
				// width: 5vw;
				// height: 25vh;
				// border: 1px solid $kick-color;
				border-radius: 10px;
				position: relative;
				overflow: hidden;
			}
		}
	}
}

div.controls {
	& > input {
		font-size: 30px;
		width: 150px;
		position: relative;
	}
	& > #btnPlay {
		border-radius: 10px;
		overflow: hidden;
		background-color: darkgreen;
		&.playing {
			background-color: darkmagenta;
		}
	}
}
